<div>
  <h2>Product List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Images</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of gadget">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <img [src]="product.img" alt="{{ product.name }}" width="100" />
      </tr>
    </tbody>
  </table>
</div>